<div ngClass="header">
  <div ngClass="profile-container">
    <div ngClass="profile-info">
      <img
        ngClass="profile-img"
        src="https://github.com/escandiel.png"
        alt="Profile picture from github Escandiel's account"
      />
      <span ngClass="profile-name"> By Victor Escandiel</span>
      <div ngClass="profile-icons-container">
        <a ngClass="profile-icons" href="https://github.com/escandiel">
          <i class="fa-brands fa-github fa-beat fa-2xl" style="color: #fff"></i>
        </a>
        <a ngClass="profile-icons" href="#">
          <i
            class="fa-brands fa-linkedin fa-beat fa-2xl"
            style="color: #ffffff"
          ></i>
        </a>
      </div>
    </div>
  </div>
</div>
