@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.cdnfonts.com/css/minecraft-4");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.title-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 166px;
  color: white;
  padding: 0;
  margin: 0;
  display: inline-block;
  transition: transform 0.3s ease;
}

.title:hover {
  transition: 2s ease-in-out;
  color: rgba(188, 146, 249, 0.7);
}
