* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.small-card {
  margin: 16px;
  overflow: hidden;
  width: 400px;
  height: 150px;
  /* border: 1px solid white; */
  border-radius: 8px;
  display: flex;
  gap: 20px;
  /* flex-direction: column; */

  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.small-card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(188, 146, 249, 0.7);
}

.small-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.type {
  color: #bc92f9;
  font-family: "Poppins", sans-serif;
}

.date {
  color: #ddddff70;
  font-family: "Poppins", sans-serif;
}

.title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 4px 0;
  line-height: 28px;
  font-weight: 300;
}

@media (min-width: 1201px) {
  .small-card {
    display: none;
  }
}
