<!-- <app-header></app-header> -->

<div ngClass="container-content">
  <a ngClass="btn" [routerLink]="['']">Voltar</a>

  <div ngClass="content-title">
    {{ contentTitle }}
  </div>
  <div ngClass="content-subtitle">
    {{ contentSubtitle }}
  </div>
  <div ngClass="content-profile">
    <img src="https://www.github.com/escandiel.png" alt="" />
    <span>Published by Victor Escandiel</span>
    <span>August 31, 2023</span>
  </div>
  <div ngClass="content-img">
    <img ngClass="img-cover" src="{{ contentImg }}" alt="" />
  </div>
  <div ngClass="content-article">
    <p>
      {{ contentArticle }}
    </p>
  </div>
</div>
